OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4.1-mini

GEMINI_API_KEY=AIzaSyDUKSGswotXdkgaqbF2uJPAFdeyePe3TSk
GEMINI_MODEL=gemini-flash-lite-latest

PORT=3001
